<div class="
grid grid-cols-3
text-syn-purple
text-[10px]
w-full
">
  <span class="col-span-2 flex flex-row justify-start items-start gap-x-[12px]">
    <img ngSrc="/assets/img/ktph-logo.svg" alt="" height="35.5" width="88">
    <img ngSrc="/assets/logo/synapxe_purple.png" alt="" height="20" width="110" class="mt-[12px]">
  </span>
  <div class="col-span-1 ml-auto max-w-[28ch]">
    <div class="flex flex-col justify-start items-start [&>span]:text-[10px] [&>span]:whitespace-nowrap">
      <span>90 Hospital Lane</span>
      <span>Singapore 456789</span>
      <span>Tel: 65765678 Fax: 65789567</span>
      <span>Web: www.hospital.gov.sg</span>
    </div>
  </div>

</div>
