<!--<footer class="-->
<!--pt-8-->
<!--gutter-x bg-syn-purple-->
<!--">-->
<!--&lt;!&ndash;    Links&ndash;&gt;-->
<!--  <div>-->
<!--  </div>-->

<!--&lt;!&ndash;    Divider&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;    Bottom of footer&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="flex flex-row justify-start items-center opacity-50">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="flex flex-row justify-center items-center gap-4 [&>img]:aspect-auto [&>img]:object-contain [&>img]:max-w-24">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="/assets/logo/synapxe_white.png" alt="" class="mt-2">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="/assets/logo/ktph_white.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--</footer>-->


