<div class="">
  <div class="
  w-full mx-auto
  flex flex-col justify-center items-center
  text-center
  max-w-[72px]
  ">
    <span class="w-full text-center text-[12px]">{{label}}</span>
    <div class="flex flex-row justify-between items-center gap-2">
      <span><img ngSrc="/assets/icons/morning.svg" alt="M" width="22" height="22"></span>
      <span><img ngSrc="/assets/icons/afternoon.svg" alt="A" width="22" height="22"></span>
      <span><img ngSrc="/assets/icons/evening.svg" alt="E" width="22" height="22"></span>
    </div>
  </div>
</div>
