<app-paper appPaper class="preview-page">
  <app-letter-head />
  <app-page-header [patient]="patient"/>
  <app-page-section [name]="sectionLabel">
    <app-page-table-parent [header]="header" [body]="body"/>
    <ng-template #header>
      <tr>
        <th>{{headings.item}}</th>
        <th>{{headings.conditions}}</th>
        <th>{{headings.frequency}}</th>
        <th>{{headings.dosage}}</th>
        <th>{{headings.instructions}}</th>
      </tr>
    </ng-template>
    <ng-template #body>
      <tr *ngFor="let info of patient.summary.info">
        <td  class="min-w-[12ch] max-w-[10ch]">
          <div class="flex flex-col justify-start items-start">
            <span class="text-[16px] w-full">{{info.drug_name}}</span>
            <span class="text-[14px] font-extralight w-full">({{info["content/uom"]}}/{{info.uom}})</span>
          </div>
        </td>
        <td class="max-w-[10ch]">{{info.condition}}</td>
        <td class="max-w-[20ch]">{{info.frequency}}</td>
        <td class="max-w-[10ch]">{{info.dosage}}</td>
        <td class="max-w-[30ch]">{{info.instruction}}</td>
      </tr>
    </ng-template>
  </app-page-section>
</app-paper>
